/* src/app/styles/globals.css */

@import 'tailwindcss';

body {
  background-color: #ffffff;
}

@theme {
  /* colors */
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;
  --color-primary-100: #fff5cd;
  --color-primary-200: #ffe582;
  --color-primary-300: #ffcb05;
  --color-primary-400: #d4a904;
  --color-secondary-100: #d7e0ef;
  --color-secondary-200: #9ab1d6;
  --color-secondary-300: #3663ad;
  --color-secondary-400: #244273;
  --color-red: #ef171c;
  --color-yellow: #ffcb05;
  --color-green: #6aca73;
  --color-white: #ffffff;
  --color-black: #000000;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins.woff2') format('woff2');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
}

@keyframes waveMotion {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.wave-motion {
  animation: waveMotion 6s ease-in-out infinite;
}
